# ---- Logs ----
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---- Node.js / React ----
node_modules/
dist/
dist-ssr/
*.local
build/
.DS_Store
public/

# ---- Editor directories and files ----
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ---- Python / Django ----
*.pyc
__pycache__/
db.sqlite3
.env
.env.local
.env.development
.env.production

# ---- Virtual Environment ----
/venv/
/Backend/blog_venv/

# ---- Ignore media and static files ----
/Backend/media/
/Backend/static/
/staticfiles/
/frontend/node_modules/
/backend/staticfiles/
